::ng-deep .mat-dialog-container {
    background: radial-gradient(circle, rgba(255,255,255,1) 25%, rgba(223,190,153,1) 100%);
    border-radius: 339px;
    height: 565px;
    width: 589px;
    box-shadow: 0px 11px 70px 1px rgba(0, 0, 0, 0.5), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transaction__title {
    color: #ec0000;
    font-size: large;
    margin-top: 24px;
    margin-bottom: 24px;
}

.close__transaction__btn {
    background-color: transparent !important;
    border-color: transparent !important;
    cursor: pointer;
    margin-left: 84px;
}