.text {
    font-size: 16px !important;
    letter-spacing: 1px;
}

::ng-deep .mat-table, .mat-paginator {
    background: #dfbe99;
    opacity: 0.8 !important;
}

.table__data {
    padding-right: 50px !important;
}

td {
    color: black;
}

th {
    color: #ec0000;
}