.main__page__distribution {
    height: 100vh;
    background-image: url("../../../../assets/media/background-main.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__page__distribution p {
    width: 41%;
}

.main__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__title {
    font-size: large;
    width: 50%;
    text-align: center;
    margin-top: 48px;
    letter-spacing: 2px;
}

.main__dashboard__btn {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .main__dashboard__btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}