<div class="main__page__distribution">
    <div>
        <div class="main__info">
            <img src="../../../../assets/media/logo-wallet.png" class="logo-wallet">
            <p class="main__title text__btn">Guarda, compra y vende tus criptomonedas de forma segura y accede a ellas desde cualquier lugar del mundo con nuestra wallet de ultima generacion</p>
        </div>

        <div class="main__dashboard__btn">
            <button [routerLink]="['/auth/register']"
                class="main__btn__style text__btn">Registrarse</button>
            <button [routerLink]="['/auth/login']" class="main__btn__style text__btn">Iniciar sesion</button>
        </div>
    </div>
</div>