.results__page__distribution {
    height: 100vh;
    background-image: url("../../../../assets/media/background-results.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}