<p>
    <mat-toolbar class="navbar">
        <div>
            <a href="#">
                <img src="../../../../assets/media/logo-wallet.png" class="logo__navbar">
            </a>
        </div>

        <div class="user__money">
            <img src="../../../../assets/media/user-money.png" class="icon__money">
            <p class="text">Saldo disponible: <span [(ngModel)]='deposit' ngDefaultControl>{{deposit}} €</span></p>
        </div>

        <div class="user__profile">
            <img src="../../../../assets/media/user-icon.svg" class="icon__user">
            <p class="text">Hola, <span [(ngModel)]='getFullname' ngDefaultControl>{{getFullname}}</span></p>
        </div>

    </mat-toolbar>
</p>