.navbar {
    background: #e6ddd2;
    opacity: 0.8;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

p {
    color: black;
}

.logo__navbar {
    cursor: pointer;
}

.logo__navbar, .icon {
    width: 20px !important;
    color: #ec0000;
    font-size: medium;
}

.user__money, .user__profile {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.user__money p, .user__profile p {
    margin-bottom: 0;
    margin-left: 10px;
}

.logout__icon {
    margin-left: 24px;
    cursor: pointer;
    color: #ec0000;
}