<div class="register__distribution">
    <div>
        <div class="main__info">
            <img src="../../../../assets/media/logo-wallet.png" class="logo__wallet">
            <p class="main__title text">My crypto wallet</p>
        </div>

        <!-- <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="loginUser()" class="register__form">
            <mat-form-field appearance="fill">
                <mat-label class="text">Nombre de usuario</mat-label>
                <input matInput type="text" formControlName="username" class="form-control" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label class="text">Clave</mat-label>
                <input matInput type="password" formControlName="password" class="form-control"  required>
                
            </mat-form-field>

            <button type="submit" class="main__btn__style text">Registrarme</button>
        </form> -->
    </div>
</div>