$blue__color: #6b7fd7;
$text: "Boba Cups.ttf";

*body {
    margin: 0;
    cursor: url('https://cdn.custom-cursor.com/db/pointer/32/Cute_Cloud_Pointer.png'), auto
}

@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
    font-family: "Boba Cups.ttf";
    src: url('./assets/fonts/Boba\ Cups.ttf');
}

.main__btn__style {
    background-color: transparent;
    border-color: $blue__color;
    border-width: 3px;
    border-radius: 15px;
    padding: 16px;
    width: 160px;
    cursor: pointer;
}

.main__btn__style:hover {
    background-color: #6b7fd7 ;
    opacity: 0.8;
}

.text {
    font-family: $text;
    font-size: medium;
}

.text__error {
    color: red;
}
.transaction__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.transaction__title {
    margin-bottom: 24px;
}

.sales__btn__style {
    background-color: transparent;
    border-color: #F4B639 !important;
    border-width: 3px;
    border-radius: 15px;
    padding: 16px;
    width: 160px;
    cursor: pointer;
}

.sales__btn__style:hover {
    background-color: #F4B639 ;
    opacity: 0.8;
}