$blue__color: #6b7fd7;
$text: "Boba Cups.ttf";

*body {
    margin: 0;
}

@font-face {
    font-family: "Boba Cups.ttf";
    src: url('./assets/fonts/Boba\ Cups.ttf');
}

.main__btn__style {
    background-color: transparent;
    border-color: $blue__color;
    border-width: 3px;
    border-radius: 15px;
    padding: 16px;
    width: 160px;
    cursor: pointer;
}

.main__btn__style:hover {
    background-color: #6b7fd7 ;
    opacity: 0.8;
}

.text {
    font-family: $text;
    font-size: medium;
}

.text__error {
    color: red;
}